@charset "utf-8";
/* CSS Document */

html {
	background-color: #888888;
}

body {
	width: 1000px;
	background-color: #f00;
	margin: auto;
	margin-top: 3%;
	padding-top: 2em;
	padding-bottom: 5em;
}

h1 {
	font-size: 2.5em;
	color: #30F;
	text-align: center;
}

h2 {
	padding-top: 1.5em;
}

h2 a {
	color:#FF0;
	text-decoration: none;
	text-align: center;
	padding-left: 20%;
}

dl {
	padding-left: 40%;
	padding-top: 1em;
}

dt {
	float: left;
	color: #00FF00;
	font-size: 1.2em;
	padding-right: 1em;
}

dd {
	font-size: 1.2em;
	color:#00FFFF;
}