@charset "utf-8";
/* CSS Document */
html {
	background-color: #777777;
}

body {
	width: 80%;
	max-width: 16em;
	margin: 0 auto;
	margin-top: 5%;
	padding: 4%;
	height: 40%;
	border: solid;
}

#fieldwidth {
	max-width: 15em;
}
#countrybox {
	/*width: 8em;*/
}

.user-available {
	font-size: 1.125em;
}
.user-available:before {
	content: "✔";
}
/*copypastecharacter.com*/

.user-available[data-status="unchecked"] {
	display: none;
}

.user-available[data-status="available"] {
	color: #090;
}

.user-available[data-status="unavailable"] {
	color: #f33;
}

.user-available[data-status="unavailable"]:before {
	content: "✖";
}

pass-req {
	list-style-type: none;
}

.pass-req li:before {
		color: #f33;
		font-size: 1.125em;
		content: "✖";
}

.pass-req li[data-state="achieved"]:before {
	color: #090;
	content: "✔";
}

.city-invalid[data-status="not-a-city"] {
	color: #090;
	font-size: 1.125em;
	/*content: "✖";*/
}